.loader-container {
  display:flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: auto;
 
}

.lottie-container {
  max-height: 96px;
  min-height: 72px;
  height: 7vw;
  width: auto;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0 auto;
}